html {
    scroll-behavior: smooth;
}

body {
    background-color: #303030;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h2, h3{
    color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 500;
}

p {
    color: rgb(177, 177, 177);
    width: 260px;
    margin: 0 auto 20px;
    line-height: 1.4;
}

.nav-item, #portfolio h2,
#skills h2, #contact h2 {
    font-size: 0.9em;
    font-weight: 900;
    color: whitesmoke;
}

header {
    margin:0;
    background: #424242;
}

#home h2 {
    margin-top: 0;
    padding-top: 40px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #212121;
    width: 290px;
    margin: 5px auto;
    padding: 13px 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.profile-img {
    width: 200px;
    margin: 20px auto 10px auto;
}

.portfolio-img  {
    width: 290px;
    margin: auto;
}

.profile-text {
    width: 290px;
    padding-bottom: 40px;
    margin: 0px auto 0 auto;
}

#portfolio h2,
#skills h2,
#contact h2 {
    padding: 40px;
}

#contact h2 {
    padding-bottom: 20px;
}

#skills {
    background: #424242;
}

.skills-ul {
    padding-bottom: 50px;
}

#skills li {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.skills-logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-main h3 {
    font-size: 0.9em;
    font-weight: 900;
}

.footer-main h3 {

    font-weight: 900;
}

#contact {
    padding-bottom: 30px;
}

hr.thin {
    height: 1px;
    border: 0;
    color: #424242;
    background-color: #424242;
    width: 90%;
    }

.footer-nav {
    display: none;
}

/* Tablet media query */
@media screen and (min-width: 768px) {
    
    #home h2{
        padding-top: 35px;
        font-size: 1.7em;
        margin-bottom: 10px;
    }

    .main-nav ul {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .main-nav li {
        background: none;
        width: auto;
    }
    
    .nav-item, #portfolio h2,
    #skills h2, #contact h2 {
    font-size: 1.1em;
    font-weight: 900;
    color: whitesmoke;
    }

    .profile-flex {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }

    .profile-text {
        text-align: left;
        padding-top: 50px;
        font-size: 1.4em;
        width: 50%;
        line-height: 1.5;
    }

    .profile-img {
        width: 290px;
        margin: 50px auto 10px auto;
        padding-bottom: 50px;
    }
    
    .portfolio-img  {
        width: 340px;
        margin: auto;
    }
    
    .portfolio_flex {
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .portfolio-block {
        margin-bottom: 30px;
    }

    .skills-ul {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-text {
        width: 80%;
        font-size: 1.45em;
        padding-bottom: 40px;
    }

    .footer-top {
        display: none;
    }

    .footer-nav {
        display: flex;
    }

    .footer-nav li {
        background: none;
        width: auto;
        font-size: 0.7em;
        padding-left: 15px;
    }
}

/* Desktop media query */
@media screen and (min-width: 1024px) {
    
    #home h2 {
        float: left;
        padding: 50px 0 20px 50px;
    }

    #home nav {
        float: right;
        padding: 55px 50px 20px 0;

    }

    .main-nav li {
        padding: 0 20px 0 20px;
        font-size: 0.8em;

    }

    .profile-flex {
        clear: both;
    }

    .profile-img {
        margin: 0 70px;
        width: 350px;
    }

    .profile-text{
        margin-left: 70px;
        padding-top: 10px;
    }

    .portfolio-img {
        width: 300px;
    }

    .skills-ul {
        justify-content: space-evenly;
    }

    #skills li {
        margin: 5px 5px;
    }

    .contact-text {
        width: 50%;
    }

}